@mjml()
<mjml>
  <mj-body>
    <mj-section>
      <mj-column >
        <mj-text font-size="30px">
          Adonis Cars API
        </mj-text>
        <mj-divider  />
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text>
          The health check report for the Adonis Cars API is ready.

          {{ variable }}
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
@end
